:root {
  --bg-color: #ededed;
  --border-color: #919090;
  /* --bk-color: #121212; */
  --bk-color: #121d3e;
  --font-color: black;
  --border-radius: 12px;
  --icon-theme-color: #121212;
  --drawer-background-color: #ededed;
  --body-bk-color: rgb(42 55 91);
  --header-bk-color: rgba(18, 29, 62, 0.9);
}

[data-theme="dark"] {
  --bg-color: #262626; /* Background color for dark theme */
  --border-color: white;
  --icon-theme-color: white;
  --font-color: white;
  --drawer-background-color: #262626;
  --body-bk-color: #1c1c1c;
  --bk-color: black;
  --header-bk-color: rgba(18, 18, 18, 0.9);
}

.App {
  /* background-color: #333333; */
  /* background-color: var(--bg-color); */
  /* min-height: 100em; */
  /* cor interessante 5e6461 */
  background: linear-gradient(
    135deg,
    var(--bk-color) 80%,
    var(--body-bk-color) 20%
  );
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  /* height: calc(93vh - 100px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.page-article {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 2px solid #ede8e8;
  background-color: rgba(255, 255, 255, 0.57);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    /* Shadow below */ 0 6px 5px rgba(0, 0, 0, 0.1); /* Larger soft shadow */
}

.presentation-article {
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  /* background-color: rgba(255, 255, 255, 0.57); */
  background-color: var(--body-bk-color);
  padding: 10px;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
  /* box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 5px rgba(0, 0, 0, 0.1); */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35px;
  background-color: var(--bk-color);
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
  border-top: 4px solid var(--body-bk-color);
}

.footer > .MuiBox-root {
  position: absolute;
  right: 35px; /* Adjust this value to position the icon as needed */
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    #ff7f7f,
    #ffcccc
  ); /* Pastel red gradient */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Makes the text color transparent so the gradient shows */
  font-weight: bold; /* Optional: make the text bold */
}

p {
  margin-bottom: 0.5em !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none !important;
  padding: 0 !important;
}

.icons-theme {
  color: white;
}

.drawer-list {
  background-color: var(--drawer-background-color);
  color: var(--font-color);
  flex: 1;
}

.item-drawer {
  border-bottom: 2px dashed var(--font-color);
}

.flagselect {
  color: var(--bk-color);
}
